{% load staticfiles %}

  <!-- // <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script> -->
  <script type="text/javascript" src='{% static "jquery/jquery.js" %}'></script>
  <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
  <!-- // <script src="https://js.braintreegateway.com/v2/braintree.js"></script> -->
  <script type="text/javascript" src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
 <!-- // <script type="text/javascript" src='{% static "jquery/jquery.min.js" %}'></script> -->

 <script>

    function update_cart(){
    var badge = $("#cart-count-badge");
    $.ajax({
      type:"GET",
      url:"{% url 'item_count' %}",
      success: function(data){
        badge.text(data.count);
      },
      error: function(response,error){
        console.log(response);
        console.log(error);
      },
    })
  }
  $(document).ready(function(){

    update_cart() 
  
  });


</script>