<div class="row">
<div class="col-md-6 col-sm-4 col-sm-offset-6 text-center">
<p class="lead">Order Summary</p>
	<table class="table">
	<tr><td>Cart total: {{ order.cart.total }}</td></tr>
	<tr><td>Shipping: {{ order.shipping_total_price }}</td></tr>
	<tr><td>Total: {{ order.order_total }}</td></tr>
	</table>
	</div>
	</div>
	<div class="row">
	<div class="col-md-6 col-sm-4 col-sm-offset-6 text-center">

	<p><b>Billing to:</b>
	</br>
	{{ order.billing_address.get_address }}
	</p>
	<p><b>Shipping to:</b>
	</br>
	{{ order.shipping_address.get_address }}
	</p>
	</div>
	</div>